:root {
  --primary-color: #2c5c97;
  --bg-0: #e5e5e5;
  --bg-1: #f7f7f7;
  --content-bg: #fdfdfd;

  --misc-button-icon-color: #505050;
  --misc-button-bg: rgba(0, 0, 0, 0.1);
  --misc-button-hover-bg: rgba(0, 0, 0, 0.2);
  --misc-button-active-bg: #585858;
  --misc-button-active-color: #f7f7f7;

  --label-color: #344f71;
  --label-border-color: rgba(58, 58, 58, 0.1);
}
